<launch>
	<group ns="turtlesim">
	       <node pkg="turtlesim" name="sim" type="turtlesim_node"/>
	</group>

	<node pkg="turtle_control" name="turtle_Pcontrol_W" type="turtle_Pcontrol_W" />
	<node pkg="kalman_filter" name="noise_generater" type="noise_generater" output="screen"/>
	<node pkg="kalman_filter" name="turtle_filter" type="turtle_filter" output="screen"/>
</launch>